@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap');
body {
  background-color: #fffffe;
  font-family: 'Fira Code', monospace;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #0f0e17;
  height: 100vh;
}
header img {
  filter: drop-shadow(0 5px 20px #ddd);
}
header h1 {
  color: #fffffe;
  font-family: 'Fira Code', monospace;
  font-weight: 700;
  margin-top: 30px;
}
header p {
  color: #a7a9be;
  text-align: center;
  padding-bottom: 30px;
  padding: 0 30px 0 30px;
}
button {
  width: 200px;
  background-color: #ff8906;
  padding: 20px;
  margin: 30px 0 50px 0;
  border-radius: 50px;
  color: #fffffe;
  text-transform: uppercase;
}