@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
  margin: 0; /*Set the margin to 0 on each HTML element*/
  padding: 0; /*Set the padding to 0 on each HTML element*/
  box-sizing: border-box;
}

body {
  background-color: hsl(216, 12%, 8%);
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: column;
}

.card {
  width: 350px;
  border-radius: 20px;
  background-color: hsl(213, 19%, 18%);
}

.active {
  background-color: hsl(217, 12%, 63%);
  color: #fffffe;
}

#card__thank--you {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#card__rating > .logo {
  width: 45px;
  height: 45px;
  margin: 20px 0 0 20px;
  border-radius: 50px;
  background-color: hsl(213, 19%, 18%);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 0 hsl(216, 12%, 8%);
}

#card__thank--you > .logo {
  margin-top: 30px;
}

.rating__count {
  width: 200px;
  margin-top: 30px;
  background-color: hsl(213, 19%, 18%);
  box-shadow: 0 0 20px -3px hsl(216, 12%, 8%);
  border-radius: 50px;
}

h1.heading__content {
  font-size: 25px;
  margin: 20px 0 0 20px;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}

h1.heading__for--thanks {
  margin-top: 30px;
}

p.sub__content {
  width: 85%;
  margin: 20px;
  color: hsl(217, 12%, 63%);
}

p.count__given {
  padding: 5px;
  color: hsl(25, 97%, 53%);
  text-align: center;
}
p.thanks__content {
  width: 80%;
  margin: 20px 0 30px 0;
  color: hsl(217, 12%, 63%);
  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

li button {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background-color: hsl(213, 19%, 18%);
  box-shadow: 0 0 10px 0 hsl(216, 12%, 8%);
  color: hsl(217, 12%, 63%);
  cursor: pointer;
}

li button:hover {
  background-color: hsl(25, 97%, 53%);
  color: #fffffe;
}

#submit--button {
  width: 300px;
  margin: 30px 20px 30px 25px;
  padding: 15px;
  border-radius: 80px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
}

#submit--button:hover {
  background-color: #fffffe;
  color: hsl(25, 97%, 53%);
}

footer p, footer a {
  text-align: center;
  font-weight: 700;
  color: hsl(217, 12%, 63%);
  text-decoration: none;
}

